@font-face {
  font-family: "Hanken";
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-style: 18px;

  .object-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Hanken";

    .whole-pice {
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      width: 605px;
      min-height: 400px;
      margin: 130px auto;

      @media screen and (max-width: 390px) {
        display: flex;
        height: 50vh;
        flex-direction: column;
        margin: 0 auto;
      }

      .object-left {
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        color: white;
        width: 50%;
        padding: 15px;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: 390px) {
          width: 375px;
          min-height: 45vh;
          padding: 20px 15px;
        }

        h3 {
          color: rgba(214, 210, 210, 0.959);
          font-size: 1.2rem;
          letter-spacing: 1px;

          @media screen and (max-width: 390px) {
            margin-bottom: 15px;
          }
        }

        .circle {
          border: 1px solid transparent;
          border-radius: 50%;
          background: linear-gradient(
            hsla(256, 72%, 46%, 1) 70%,
            hsla(241, 72%, 46%, 0)
          );
          padding: 40px 50px;

          @media screen and (max-width: 390px) {
            scale: 0.8;
            margin-bottom: 10px;
          }
        }

        #score {
          font-size: 3.2rem;
          font-weight: 900;
          letter-spacing: 1px;
        }

        #cent {
          color: rgba(161, 157, 157, 0.918);
          text-align: center;
        }
        #text-score {
          color: rgba(214, 210, 210, 0.959);
          text-align: center;
          letter-spacing: 1px;
          padding: 0 25px;

          @media screen and (max-width: 390px) {
            margin: 20px auto;
          }
        }
      }

      .object-right {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        width: 50%;
        box-shadow: 2px 2px 20px 0px rgba(128, 128, 128, 0.075);
        border-radius: 0 15px 15px 0;

        @media screen and (max-width: 390px) {
          width: 375px;
          height: 50vh;
          margin-top: 25px;
        }

        .summary {
          margin: 0 auto;

          @media screen and (max-width: 390px) {
            margin-bottom: 25px;
            margin-left: 25px;
          }
        }

        a {
          width: 30px;
          height: 30px;
        }

        .min-div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          border-radius: 14px;
          font-weight: 600;
          width: 250px;
          padding: 13px;

          @media screen and (max-width: 390px) {
            width: 305px;
            margin-bottom: 20px;
            scale: 0.9;
          }
        }

        #back1 {
          background-color: hsla(0, 100%, 67%, 0.11);
        }
        #back2 {
          background: hsla(39, 100%, 56%, 0.11);
        }
        #back3 {
          background: hsla(166, 100%, 37%, 0.137);
        }
        #back4 {
          background: hsla(241, 67%, 83%, 0.39);
        }
        #back5 {
          background: hsl(224, 30%, 27%);
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(231, 229, 229);
          border-radius: 25px;
          letter-spacing: 1px;
        }
        #text1 {
          margin-left: -69px;
          color: hsl(0, 98%, 64%);
        }

        #text2 {
          margin-left: -69px;
          color: hsl(39, 100%, 56%);
        }
        #text3 {
          margin-left: -85px;
          color: hsl(166, 100%, 37%);
        }
        #text4 {
          margin-left: -85px;
          color: hsl(241, 53%, 62%);
        }

        .negro {
          font-weight: 800;
          font-size: 1.2rem;
        }
      }
    }
  }
}

footer {
  text-align: center;
  @media screen and (max-width: 390px) {
    visibility: hidden;
  }
}
